body {
    font-family: AppleGothic;
    font-size: 16px;
    background-color: #EFEBE9; 
    width: auto;
    height: auto;
}

.navbar {
    z-index: 9;
    position: absolute;
    width: 100%;
}

.icon {
    padding-left: 16px;
    float: left;
    width: 40px;
    height: 40px;
}

.search-bar {
    padding-right: 16px;
    float: right;
    height: 30px;
    width: 140px;
}

.search-icon {
    cursor: pointer;
    margin-top: 10px;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    float: right;
}

 #input-id {
    width: 100px;
    height: -25px;
    float: left;
    border: none;
    border-color: transparent;
    margin-top: 9.2px;
    background: #EFEBE9;
}

.underline {
    height: 2px;
    width: 100px;
    background: #9C27B0;
    margin-top: 30px;
    
}

.underline.animate {
    animation: expand 0.2s forwards;
    
}

@keyframes expand {
    0% {transform: scale(0)}
    100% {transform: scale(1)}  
}

.error-box {
    opacity: 20%;
    background: black;
    border-radius: 5px;
    position: absolute;
    z-index: 10;
    margin-top: (100% / 2);
    width: 400px;
    height: 100px;
}

.search-error {
    padding: center;
    font-size: 40px;
    color: white;
}

h1 {
    margin-top: auto;
    padding-top: 10px;
    padding-left: 4px;
    float: left;
    color: #9C27B0;
    font-size: 25px;
}

.navbar li {
    padding-top: 13px;
    padding-left: 16px;
    float: left;
    list-style: none;
    color: #9C27B0;
    font-size: 20px;
}

.map {
    position: fixed;
    width: 100%;
    height: 100%;
}

.map g {
    position: fixed;
    fill: #F44336;
    stroke: #EFEBE9;
    stroke-width: 0.5;
    /*box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.26);
    transition: all 0.2s ease-in-out;*/
}

.map g:hover {
    /*transform: scale(0.2);*/
    cursor: pointer;
    fill: #9C27B0 !important;
    /*-webkit-tranform: scale(1.1);*/
    
}




overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background: #9C27B0;
}

overlay.rev-animate {
     animation: rev-ripple 0.40s ease-in forwards;
}

.container:before,
.container:after {
    content: "";
    display: table;
}

.container:after {
    clear: both;
}

.container {
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    z-index: 11;
}

section,
aside {
    margin: 1.8%;
}

section {
    float: left;
    width: 37%;
}

img.pop-anima {
    animation: pop 0.5s ease-in-out forwards;
}

aside {
    float: right;
    width: 50%;
}

.title {
    position: relative;
    color: #FFC400;
    width: auto;
    font-size: 30px;
    padding-left: 100px;
}

.titletag {
    position: relative;
    color: #FFC400;
    font-size: 20px;
    padding-left: 140px;
}

.c-code {
    position: relative;
    padding-top: 4px;
    padding-left: 20px;
    width: 500px;
    height: 500px;
}

.floatB {
    cursor: pointer;
    position: relative;
    float: left;
    border-radius: 100%;
    background: #FFFFFF;
    width: 56px;
    height: 56px;
    margin-top: 25%;
    margin-left: 16px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.4);
}

.floatB.pop-anima {
    animation: pop 0.2s ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes pop {
    0% {transform: scale(0.1); opacity: 0;}
    
    60% {transform: scale(1.2); opacity: 1;}
    
    100% {transform: scale(1);}
}

.floatB:hover {
    animation: touch 0.1s ease-out forwards;
}

@keyframes touch {
    0% {box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.4);}
	100% {box-shadow: 0 4px 8px 0 rgba(0, 0.2, 0.2, 0.4);}
}

ink {
    z-index: 10;
	display: block; position: absolute;
	background: #9C27B0;
	border-radius: 100%;
	transform: scale(0);
}

/*animation effect*/
ink.animate {
    animation: ripple 0.75s ease-out forwards;
}

ink.rev-animate {
    animation: rev-ripple 0.40s ease-in forwards;
}

@keyframes ripple {
	100% {transform: scale(2.5);}
}

@keyframes rev-ripple {
	0% {transform: scale(2.5);}
    100% {transform: scale((0);)}
}

.list {
    list-style-type: none;
    padding-left: 140px;
}

.list li {
    border-radius: 2px;
    padding: 10px;
    margin-bottom: 10px;
    z-index: 12;
    font-weight: 400;
    color: #444;
    list-style: none;
    overflow: hidden;
    width: 300px;
    opacity: 0;
    position: relative;
    background: white;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.4);
    transition: all 1s ease-out;
}

li.new-item {
    animation: new-item-animation 0.2s linear forwards;
}

@keyframes new-item-animation {
    from {opacity: 0; transform: scale(0);}
 
    to {opacity: 1; transform: scale(1);}
}

li.remove-item {
    animation: remove-item-animation 0.2s linear forwards;
}

@keyframes remove-item-animation {
    from {opacity: 1; transform: scale(1);}
 
    to {opacity: 0; transform: scale(0);}
}

